<h1 *ngIf="termino">Buscando: <small>{{termino}}</small></h1>
<h1 *ngIf="!termino">Heroes <small>Marvel & DC</small></h1>
<hr>
<div class="row" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info">
            No Existe Resultados con el termino {{termino}}
        </div>
    </div>
</div>
<div class="card-columns" *ngIf="heroes.length > 0">
    <app-heroe-card *ngFor="let heroe of heroes" [heroe]="heroe" (click)="verHeroe(heroe.id)"></app-heroe-card>
</div>